// primary color
$light-red: hsl(0, 36%, 70%);
$soft-red: hsl(0, 93%, 68%);

// neutral color
$grayish-red: hsl(0, 6%, 24%);

// gradients
$lg-white: 135deg, from hsl(0, 0%, 100%), to hsl(0, 100%, 98%);
$lg-red: 135deg, from hsl(0, 80%, 86%), to hsl(0, 74%, 74%);

// font-size
$fs-rg: 1rem;
$fs-sm: 0.825rem;

// font family
$ff: "Josefin Sans", sans-serif;
